<launch>

	<arg name="noise_scaling" default="0.00"/>

	<arg name="use_xtion" default="false" /> <!-- otherwise use r200 -->

	 <arg name="r200_depth_camera_info_topic" default="/flight/r200/depth_red/camera_info" />
	 <arg name="r200_depth_camera_pointcloud_topic" default="/flight/r200/points_xyz" />

  	<arg name="xtion_depth_camera_info_topic" default="/flight/xtion_depth/camera_info" />
  	<arg name="xtion_depth_camera_pointcloud_topic" default="/flight/xtion_depth/points" />

	<param name="noise_scaling" type="double" value="$(arg noise_scaling)"/>
    <node pkg="memory_visualizer" type="depth_graph_visualizer_node" name="depth_graph_visualizer_node" output="screen">

    <remap from="/depth_camera_info" to="$(arg r200_depth_camera_info_topic)" unless="$(arg use_xtion)"/>
    <remap from="/depth_camera_pointcloud" to="$(arg r200_depth_camera_pointcloud_topic)" unless="$(arg use_xtion)"/>

    <remap from="/depth_camera_info" to="$(arg xtion_depth_camera_info_topic)" if="$(arg use_xtion)"/>
    <remap from="/depth_camera_pointcloud" to="$(arg xtion_depth_camera_pointcloud_topic)" if="$(arg use_xtion)"/>
  </node>
   
</launch>
